<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    http-equiv='Content-Type'>
</head>
<body>
  <h1>Thanks for booking a flight with us</h1>
  <p>We hope to see you next time</p>
  <p>Flight number: #<%= @booking.flight.id %></p>
  <p>Date: <%= @booking.flight.formatted_date %></p>
  <ul>
      <h3>Passengers</h3>
      <% @passengers.each do |passenger| %>
        <li><%= passenger.name %></li>
      <% end %>
  </ul>
  <p>Have a nice day</p>
</body>
</html>