<div class="heading-container">
  <div class="main-heading-container">
    <h1 class="main-heading">Find flights and plan your next adventure</h1>
  </div>
  <div class="sub-heading-container">
    <h2 class="sub-heading">Book and manage your trip on the go hassle free</h2>
  </div>
</div>

<%= render partial: 'search_form', locals: { airports: @airports,
                                             dates: @dates } %>

<%= render partial: 'search_results', locals: { flights: @flights,
                                                passengers_no: @passengers_no } %>